<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970983377131-csu6kumteekngt3hooah6vokt1rinitv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970983377131-csu6kumteekngt3hooah6vokt1rinitv</string>
	<key>API_KEY</key>
	<string>AIzaSyCsX-cf85RbMttt5D_oqaDVXJWWFE_lxyY</string>
	<key>GCM_SENDER_ID</key>
	<string>970983377131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafaelplinio.ToDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-9d72a</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-9d72a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970983377131:ios:85d1c5667620b83ba116ae</string>
</dict>
</plist>